body {
    margin: 0;
    font-family: Arial;
    background-color: #f2f2f2;
    color: #333333;
}

.top-bar {
    background-color: #f4a261;
    color: #333333;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

header {
    background-color: #e5e5e5;
    text-align: center;
    padding: 25px 10px;
}

header h1 {
    margin: 0;
    color: #315a7d;
    font-size: 32px;
}

header p {
    margin: 8px 0 0;
    color: #555555;
    font-size: 17px;
}

nav {
    background-color: #315a7d;
    text-align: center;
    padding: 12px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 16px;
}

nav a:hover {
    color: #f4a261;
}

.welcome {
    max-width: 1000px;
    margin: 25px auto;
    background-color: white;
    text-align: center;
    padding: 35px 20px;
    border-radius: 8px;
    border-top: 5px solid #f4a261;
}

.welcome h2 {
    color: #315a7d;
    margin-top: 0;
}

.welcome p {
    color: #555555;
    font-size: 17px;
}


.footer {
    background-color: #123B5D;
    color: white;
    text-align: center;
    padding: 30px 20px;
    margin-top: 50px;
}

.footer-content {
    max-width: 1000px;
    margin: auto;
}

.footer h2 {
    margin-bottom: 10px;
}

.footer p {
    line-height: 1.6;
}

.footer-links {
    margin: 20px 0;
}

.footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 12px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.copyright {
    font-size: 14px;
    margin-top: 20px;
}

.resources-section {
    background: #e8f2e8;
    border-top: 4px solid #5b8f5b;
    border-radius: 8px;
    padding: 30px;
    margin: 25px auto;
    max-width: 850px;
    text-align: center;
}

.resources-section h2 {
    color: #2d5f85;
    margin-bottom: 12px;
}

.resources-section p {
    color: #444;
    margin-bottom: 20px;
}

.aicte-button {
    display: inline-block;
    padding: 12px 24px;
    background: #2d5f85;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

.aicte-button:hover {
    background: #17496d;
}
